# Data Management using Pandas

# New Section

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pwd

In [ ]:
# Read the Insurance dataset with header information
infile = "C:/Users/Aniket-Admin/Desktop/ins.csv"
ins_df = pd.read_csv(infile)
ins_df

,InsuranceId,age,sex,bmi,children,smoker,region,charges
0,1219869,19,female,27.900,0.0,yes,southwest,16884.92400
1,842301,18,male,33.770,1.0,no,southeast,1725.55230
2,1391175,28,male,33.000,3.0,NaN,southeast,4449.46200
3,54198,33,male,22.705,0.0,no,northwest,21984.47061
4,1427400,32,male,28.880,0.0,no,northwest,3866.85520
...,...,...,...,...,...,...,...,...
1333,16508790,50,male,30.970,3.0,no,northwest,10600.54830
1334,73538478,18,female,31.920,0.0,no,northeast,2205.98080
1335,3538080,18,female,36.850,0.0,no,southeast,1629.83350
1336,5844744,21,female,25.800,0.0,no,southwest,2007.94500
1337,3109842,61,female,29.070,0.0,yes,northwest,29141.36030

In [ ]:
# Read the Insurance dataset without header
infile = "C:\\Users\\Aniket-Admin\\Desktop\\inswoh.csv"
col_names = ["InsuranceId", "age", "sex", "bmi", "children", "smoker", "region","charges"]
ins_df = pd.read_csv(infile, names = col_names)
ins_df

,InsuranceId,age,sex,bmi,children,smoker,region,charges
0,1219869,19,female,27.900,0.0,yes,southwest,16884.92400
1,842301,18,male,33.770,1.0,no,southeast,1725.55230
2,1391175,28,male,33.000,3.0,NaN,southeast,4449.46200
3,54198,33,male,22.705,0.0,no,northwest,21984.47061
4,1427400,32,male,28.880,0.0,no,northwest,3866.85520
...,...,...,...,...,...,...,...,...
1333,16508790,50,male,30.970,3.0,no,northwest,10600.54830
1334,73538478,18,female,31.920,0.0,no,northeast,2205.98080
1335,3538080,18,female,36.850,0.0,no,southeast,1629.83350
1336,5844744,21,female,25.800,0.0,no,southwest,2007.94500
1337,3109842,61,female,29.070,0.0,yes,northwest,29141.36030

In [ ]:
# Display first 5 products
ins_df.head()

   InsuranceId  age     sex     bmi  children smoker     region      charges
0      1219869   19  female  27.900       0.0    yes  southwest  16884.92400
1       842301   18    male  33.770       1.0     no  southeast   1725.55230
2      1391175   28    male  33.000       3.0    NaN  southeast   4449.46200
3        54198   33    male  22.705       0.0     no  northwest  21984.47061
4      1427400   32    male  28.880       0.0     no  northwest   3866.85520

In [ ]:
# Display last 5 products 
ins_df.tail()

      InsuranceId  age     sex    bmi  children smoker     region     charges
1333     16508790   50    male  30.97       3.0     no  northwest  10600.5483
1334     73538478   18  female  31.92       0.0     no  northeast   2205.9808
1335      3538080   18  female  36.85       0.0     no  southeast   1629.8335
1336      5844744   21  female  25.80       0.0     no  southwest   2007.9450
1337      3109842   61  female  29.07       0.0    yes  northwest  29141.3603

In [ ]:
# Take a random sample of 10 products
data_sample = ins_df.sample(10)
data_sample

,InsuranceId,age,sex,bmi,children,smoker,region,charges
972,1788921,22,female,20.235,0.0,no,northwest,2527.81865
1120,8708013,23,female,31.400,0.0,yes,southwest,34166.27300
1292,4898916,21,male,23.210,0.0,no,southeast,1515.34490
876,309447,49,female,27.100,1.0,no,southwest,26140.36030
778,456696,35,male,34.320,3.0,no,southeast,5934.37980
845,78516549,60,female,32.450,0.0,yes,southeast,45008.95550
124,81931626,47,female,33.915,3.0,no,northwest,10115.00885
41,596403,31,female,36.630,2.0,no,southeast,4949.75870
554,109862649,25,female,41.325,0.0,no,northeast,17878.90068
1331,69005007,23,female,33.400,0.0,no,southwest,10795.93733

In [ ]:
# Get the top 5 Insurance id in terms of chrages 
by_vars = ["charges"]
returns = ins_df.sort_values(by = by_vars, ascending = False)[["InsuranceId","charges"]]
returns.head()

      InsuranceId      charges
543       4963419  63770.42801
1300       428733  62592.87309
1230     55022436  60021.39897
577       3611637  58571.07448
819       3633003  55135.40209

In [ ]:
# Analyze the Insurance id with chrages greater than 50000 
data_filter = ins_df[ins_df.charges > 50000.00]
data_filter

,InsuranceId,age,sex,bmi,children,smoker,region,charges
34,37741041,28,male,36.400,1.0,yes,southwest,51194.55914
543,4963419,54,female,47.410,0.0,yes,southeast,63770.42801
577,3611637,31,female,38.095,1.0,yes,northeast,58571.07448
819,3633003,33,female,35.530,0.0,yes,northwest,55135.40209
1146,1052550,60,male,32.800,0.0,yes,southwest,52590.82939
1230,55022436,52,male,34.485,3.0,yes,northwest,60021.39897
1300,428733,45,male,30.360,0.0,yes,southeast,62592.87309

In [ ]:
# Calculate the sum and mean of charges bmi age
groupby_vars = ["region", "smoker"]
data_aggr = ins_df.groupby(groupby_vars).sum()
data_aggr["mean_charges"] = ins_df.groupby(groupby_vars).mean().charges
data_aggr["mean_bmi"] = ins_df.groupby(groupby_vars).mean().bmi
data_aggr["mean_age"] = ins_df.groupby(groupby_vars).mean().age
data_aggr["total_cust"] = ins_df.groupby(groupby_vars).count().InsuranceId
data_aggr.round(2)

                  InsuranceId    age      bmi  children     charges  \
region    smoker
northeast no       6387157080  10130  7510.70     267.0  2350510.37
          yes      1913947155   2562  1913.87      70.0  1988126.94
northwest no       6014087793  10416  7756.46     296.0  2276558.75
          yes      1488211515   2281  1690.14      73.0  1751136.18
southeast no       6596822862  10512  9053.77     288.0  2187196.19
          yes      1687238919   3616  2971.43      91.0  3170894.71
southwest no       6670886859  10703  8125.80     300.0  2137770.05
          yes      1299155508   2094  1798.30      70.0  1871605.68

                  mean_charges  mean_bmi  mean_age  total_cust
region    smoker
northeast no           9181.68     29.34     39.57         256
          yes         29673.54     28.57     38.24          67
northwest no           8558.49     29.27     39.16         266
          yes         30192.00     29.14     39.33          58
southeast no           8070.83     33.41     38.79         271
          yes         34845.00     33.02     39.74          91
southwest no           8036.73     30.55     40.24         266
          yes         32269.06     31.01     36.10          58

In [ ]:

groupby_vars = ["region", "smoker"]
data_aggr = ins_df.groupby(groupby_vars).sum()
data_aggr["mean_charges"] = ins_df.groupby(groupby_vars).mean().charges
data_aggr["mean_bmi"] = ins_df.groupby(groupby_vars).mean().bmi
data_aggr["mean_age"] = ins_df.groupby(groupby_vars).mean().age
data_aggr["total_cust"] = ins_df.groupby(groupby_vars).count().InsuranceId
data_aggr.round(2)

# Sort the Regional returns in descending order 
by_vars = ["mean_charges"]
data_aggr = data_aggr.sort_values(by = by_vars, ascending = False)
data_aggr.round(2)

                  InsuranceId    age      bmi  children     charges  \
region    smoker
southeast yes      1687238919   3616  2971.43      91.0  3170894.71
southwest yes      1299155508   2094  1798.30      70.0  1871605.68
northwest yes      1488211515   2281  1690.14      73.0  1751136.18
northeast yes      1913947155   2562  1913.87      70.0  1988126.94
          no       6387157080  10130  7510.70     267.0  2350510.37
northwest no       6014087793  10416  7756.46     296.0  2276558.75
southeast no       6596822862  10512  9053.77     288.0  2187196.19
southwest no       6670886859  10703  8125.80     300.0  2137770.05

                  mean_charges  mean_bmi  mean_age  total_cust
region    smoker
southeast yes         34845.00     33.02     39.74          91
southwest yes         32269.06     31.01     36.10          58
northwest yes         30192.00     29.14     39.33          58
northeast yes         29673.54     28.57     38.24          67
          no           9181.68     29.34     39.57         256
northwest no           8558.49     29.27     39.16         266
southeast no           8070.83     33.41     38.79         271
southwest no           8036.73     30.55     40.24         266

In [ ]:
def df_aggr(in_dfn,analysis_vars,group_vars):
    
    "This function will agreegate the specific measures at given supplied hierarchy"
  
    print("Input Dataframe Name = ", in_dfn.name)
    print("Analysis Variables = ", analysis_vars)
    print("Grouping Variables = ", group_vars)    
    
    global data_aggr
    
    if str(analysis_vars).upper() == "ALL":        
        data_aggr = in_dfn.groupby(group_vars).sum()
    else:                    
        for key,value in in_dfn.iteritems():
            if key in analysis_vars:   
                var = [key]
                name = "mean_"+str(key)
                print(name)
                keep_vars = var + group_vars
                print(keep_vars)
                _temp_df = in_dfn[keep_vars]
                data_aggr[name] = _temp_df.groupby(group_vars).mean()          
                
    return data_aggr

In [ ]:
# Specify the Name for Dataframe
ins_df.name = "Ins Dataframe"


df_aggr(in_dfn = ins_df, analysis_vars = "All", group_vars = ["region", "smoker"])
data_aggr.round(2)

Input Dataframe Name =  Ins Dataframe
Analysis Variables =  All
Grouping Variables =  ['region', 'smoker']

                  InsuranceId    age      bmi  children     charges
region    smoker
northeast no       6387157080  10130  7510.70     267.0  2350510.37
          yes      1913947155   2562  1913.87      70.0  1988126.94
northwest no       6014087793  10416  7756.46     296.0  2276558.75
          yes      1488211515   2281  1690.14      73.0  1751136.18
southeast no       6596822862  10512  9053.77     288.0  2187196.19
          yes      1687238919   3616  2971.43      91.0  3170894.71
southwest no       6670886859  10703  8125.80     300.0  2137770.05
          yes      1299155508   2094  1798.30      70.0  1871605.68

In [ ]:
ins_df.name = "Ins Dataframe"
df_aggr(in_dfn = ins_df, analysis_vars = ["charges","bmi"], group_vars = ["region", "smoker"])
data_aggr.round(2)

Input Dataframe Name =  Ins Dataframe
Analysis Variables =  ['charges', 'bmi']
Grouping Variables =  ['region', 'smoker']
mean_bmi
['bmi', 'region', 'smoker']
mean_charges
['charges', 'region', 'smoker']

                  InsuranceId    age      bmi  children     charges  mean_bmi  \
region    smoker
northeast no       6387157080  10130  7510.70     267.0  2350510.37     29.34
          yes      1913947155   2562  1913.87      70.0  1988126.94     28.57
northwest no       6014087793  10416  7756.46     296.0  2276558.75     29.27
          yes      1488211515   2281  1690.14      73.0  1751136.18     29.14
southeast no       6596822862  10512  9053.77     288.0  2187196.19     33.41
          yes      1687238919   3616  2971.43      91.0  3170894.71     33.02
southwest no       6670886859  10703  8125.80     300.0  2137770.05     30.55
          yes      1299155508   2094  1798.30      70.0  1871605.68     31.01

                  mean_charges
region    smoker
northeast no           9181.68
          yes         29673.54
northwest no           8558.49
          yes         30192.00
southeast no           8070.83
          yes         34845.00
southwest no           8036.73
          yes         32269.06

In [ ]:
by_vars = ["charges"]
top_20_id = ins_df.sort_values(by = by_vars, ascending = False).reset_index(drop = True)
top_20_id = top_20_id[:20]

In [ ]:
top_20_id

    InsuranceId  age     sex     bmi  children smoker     region      charges
0       4963419   54  female  47.410       0.0    yes  southeast  63770.42801
1        428733   45    male  30.360       0.0    yes  southeast  62592.87309
2      55022436   52    male  34.485       3.0    yes  northwest  60021.39897
3       3611637   31  female  38.095       1.0    yes  northeast  58571.07448
4       3633003   33  female  35.530       0.0    yes  northwest  55135.40209
5       1052550   60    male  32.800       0.0    yes  southwest  52590.82939
6      37741041   28    male  36.400       1.0    yes  southwest  51194.55914
7        437553   64    male  36.960       2.0    yes  southeast  49577.66240
8        686520   59    male  41.140       1.0    yes  southeast  48970.24760
9       5184918   44  female  38.060       0.0    yes  southeast  48885.13561
10     55426896   63  female  37.700       0.0    yes  southwest  48824.45000
11    113836635   57    male  42.130       1.0    yes  southeast  48675.51770
12      1068030   60    male  40.920       0.0    yes  southeast  48673.55880
13      6564861   54    male  40.565       3.0    yes  northeast  48549.17835
14    111516057   61  female  36.385       1.0    yes  northeast  48517.56315
15      1381077   60    male  39.900       0.0    yes  southwest  48173.36100
16      5521167   64  female  33.800       1.0    yes  southwest  47928.03000
17      3628350   59  female  36.765       1.0    yes  northeast  47896.79135
18      2523798   58    male  36.955       2.0    yes  northwest  47496.49445
19     83607660   51    male  42.900       2.0    yes  southeast  47462.89400

In [ ]:
# Calculate the discount for top 20 id
# > 60,000 - 0.15
# Between 50,000 to 60,000 - 0.10
# Between 40,000 to 50,000 - 0.05
top_20_id["Discount"] = np.where(top_20_id[by_vars] >= 60000, 0.15,
                                  (np.where(top_20_id[by_vars] >= 50000, 0.10, 0.05)))
top_20_id

,InsuranceId,age,sex,bmi,children,smoker,region,charges,Discount
0,4963419,54,female,47.410,0.0,yes,southeast,63770.42801,0.15
1,428733,45,male,30.360,0.0,yes,southeast,62592.87309,0.15
2,55022436,52,male,34.485,3.0,yes,northwest,60021.39897,0.15
3,3611637,31,female,38.095,1.0,yes,northeast,58571.07448,0.10
4,3633003,33,female,35.530,0.0,yes,northwest,55135.40209,0.10
5,1052550,60,male,32.800,0.0,yes,southwest,52590.82939,0.10
6,37741041,28,male,36.400,1.0,yes,southwest,51194.55914,0.10
7,437553,64,male,36.960,2.0,yes,southeast,49577.66240,0.05
8,686520,59,male,41.140,1.0,yes,southeast,48970.24760,0.05
9,5184918,44,female,38.060,0.0,yes,southeast,48885.13561,0.05
10,55426896,63,female,37.700,0.0,yes,southwest,48824.45000,0.05
11,113836635,57,male,42.130,1.0,yes,southeast,48675.51770,0.05
12,1068030,60,male,40.920,0.0,yes,southeast,48673.55880,0.05
13,6564861,54,male,40.565,3.0,yes,northeast,48549.17835,0.05
14,111516057,61,female,36.385,1.0,yes,northeast,48517.56315,0.05
15,1381077,60,male,39.900,0.0,yes,southwest,48173.36100,0.05
16,5521167,64,female,33.800,1.0,yes,southwest,47928.03000,0.05
17,3628350,59,female,36.765,1.0,yes,northeast,47896.79135,0.05
18,2523798,58,male,36.955,2.0,yes,northwest,47496.49445,0.05
19,83607660,51,male,42.900,2.0,yes,southeast,47462.89400,0.05

In [ ]:
top_20_id["charges_after_discount"] = top_20_id.charges * top_20_id.Discount
top_20_id

,InsuranceId,age,sex,bmi,children,smoker,region,charges,Discount,charges_after_discount
0,4963419,54,female,47.410,0.0,yes,southeast,63770.42801,0.15,9565.564201
1,428733,45,male,30.360,0.0,yes,southeast,62592.87309,0.15,9388.930963
2,55022436,52,male,34.485,3.0,yes,northwest,60021.39897,0.15,9003.209845
3,3611637,31,female,38.095,1.0,yes,northeast,58571.07448,0.10,5857.107448
4,3633003,33,female,35.530,0.0,yes,northwest,55135.40209,0.10,5513.540209
5,1052550,60,male,32.800,0.0,yes,southwest,52590.82939,0.10,5259.082939
6,37741041,28,male,36.400,1.0,yes,southwest,51194.55914,0.10,5119.455914
7,437553,64,male,36.960,2.0,yes,southeast,49577.66240,0.05,2478.883120
8,686520,59,male,41.140,1.0,yes,southeast,48970.24760,0.05,2448.512380
9,5184918,44,female,38.060,0.0,yes,southeast,48885.13561,0.05,2444.256781
10,55426896,63,female,37.700,0.0,yes,southwest,48824.45000,0.05,2441.222500
11,113836635,57,male,42.130,1.0,yes,southeast,48675.51770,0.05,2433.775885
12,1068030,60,male,40.920,0.0,yes,southeast,48673.55880,0.05,2433.677940
13,6564861,54,male,40.565,3.0,yes,northeast,48549.17835,0.05,2427.458918
14,111516057,61,female,36.385,1.0,yes,northeast,48517.56315,0.05,2425.878158
15,1381077,60,male,39.900,0.0,yes,southwest,48173.36100,0.05,2408.668050
16,5521167,64,female,33.800,1.0,yes,southwest,47928.03000,0.05,2396.401500
17,3628350,59,female,36.765,1.0,yes,northeast,47896.79135,0.05,2394.839568
18,2523798,58,male,36.955,2.0,yes,northwest,47496.49445,0.05,2374.824723
19,83607660,51,male,42.900,2.0,yes,southeast,47462.89400,0.05,2373.144700

In [ ]:
#Merge
ins_df_new = ins_df.merge(top_20_id, how = "left").fillna(0) #merge and fill NA with Zero
ins_df_new

,InsuranceId,age,sex,bmi,children,smoker,region,charges,Discount,charges_after_discount
0,1219869,19,female,27.900,0.0,yes,southwest,16884.92400,0.0,0.0
1,842301,18,male,33.770,1.0,no,southeast,1725.55230,0.0,0.0
2,1391175,28,male,33.000,3.0,0,southeast,4449.46200,0.0,0.0
3,54198,33,male,22.705,0.0,no,northwest,21984.47061,0.0,0.0
4,1427400,32,male,28.880,0.0,no,northwest,3866.85520,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1333,16508790,50,male,30.970,3.0,no,northwest,10600.54830,0.0,0.0
1334,73538478,18,female,31.920,0.0,no,northeast,2205.98080,0.0,0.0
1335,3538080,18,female,36.850,0.0,no,southeast,1629.83350,0.0,0.0
1336,5844744,21,female,25.800,0.0,no,southwest,2007.94500,0.0,0.0
1337,3109842,61,female,29.070,0.0,yes,northwest,29141.36030,0.0,0.0

In [ ]:
ins_df_new["charges_after_discount"] = np.where(ins_df_new.Discount == 0, ins_df_new.charges, ins_df_new.charges_after_discount)
ins_df_new = ins_df_new.sort_values(by = ["charges"], ascending = False)
ins_df_new

,InsuranceId,age,sex,bmi,children,smoker,region,charges,Discount,charges_after_discount
543,4963419,54,female,47.410,0.0,yes,southeast,63770.42801,0.15,9565.564201
1300,428733,45,male,30.360,0.0,yes,southeast,62592.87309,0.15,9388.930963
1230,55022436,52,male,34.485,3.0,yes,northwest,60021.39897,0.15,9003.209845
577,3611637,31,female,38.095,1.0,yes,northeast,58571.07448,0.10,5857.107448
819,3633003,33,female,35.530,0.0,yes,northwest,55135.40209,0.10,5513.540209
...,...,...,...,...,...,...,...,...,...,...
22,1250325,18,male,34.100,0.0,no,southeast,1137.01100,0.00,1137.011000
663,338247,18,male,33.660,0.0,no,southeast,1136.39940,0.00,1136.399400
1244,69912,18,male,33.330,0.0,no,southeast,1135.94070,0.00,1135.940700
808,2730537,18,male,30.140,0.0,no,southeast,1131.50660,0.00,1131.506600
940,21812103,18,male,23.210,0.0,no,southeast,1121.87390,0.00,1121.873900

In [ ]:
# Read the New Insurance dataset with header information
infile = "C:/Users/Aniket-Admin/Desktop/insInd.csv"
new_df = pd.read_csv(infile)
new_df.head()

   InsuranceId  age     sex     bmi  children smoker region      charges
0     12219869   19  female  27.900         0    yes   Asia  16884.92400
1      8423301   18    male  33.770         1     no   Asia   1725.55230
2     13913175   28    male  33.000         3    NaN   Asia   4449.46200
3            3   33    male  22.705         0     no   Asia  21984.47061
4     14227400   32    male  28.880         0     no   Asia   3866.85520

In [ ]:
# Append new data
ins_df = ins_df.append(new_df).reset_index(drop = True)
ins_df

,InsuranceId,age,sex,bmi,children,smoker,region,charges
0,1219869,19,female,27.900,0.0,yes,southwest,16884.92400
1,842301,18,male,33.770,1.0,no,southeast,1725.55230
2,1391175,28,male,33.000,3.0,NaN,southeast,4449.46200
3,54198,33,male,22.705,0.0,no,northwest,21984.47061
4,1427400,32,male,28.880,0.0,no,northwest,3866.85520
...,...,...,...,...,...,...,...,...
1383,1871865,55,male,37.300,0.0,no,Asia,20630.28351
1384,4330092,18,female,38.665,2.0,no,Asia,3393.35635
1385,4021776,28,female,34.770,0.0,no,Asia,3556.92230
1386,95535828,60,female,24.530,0.0,no,Asia,12629.89670
1387,35740404,36,male,35.200,1.0,yes,Asia,38709.17600